* {
    box-sizing: border-box;
  }
.SFHeading {
    color: black;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    margin: 20px 0;
}
.gridOutter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 4px 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
    
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}